#palya {
    display: grid;
    grid-template-columns: repeat(15, 32px);
    gap: 2px;
}

.mezo {
    background-color: rgb(63, 161, 63);
    display: grid;
    place-items: center;

    width: 32px;
    height: 32px;
    font-size: 18px;
}

.jatekos {
    background: gold;
}

body {
    display: grid;
    place-items: center;
}

.gyumik {
    display: inline;
}